body {
    background-color: rgb(250, 243, 240);
}

.navbar {
    background-color: rgba(212, 226, 212, 0.8);
}

.right {
    text-align: right;
    padding-right: px;
}

.center {
    margin: auto;
    width: 50%;
}

.center_text {
    text-align: center;
}

.center_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.pink {
    background-color: rgba(255, 202, 204, 0.6);
    border-radius: 25px;
}

.green {
    background-color: rgba(212, 226, 212, 0.6);
    border-radius: 25px;
}

.card {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}